* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #383e56;
}

.container {
  width: 90%;
  margin: 50px auto;
}

.title {
  text-align: center;
  color: #f69e7b;
  font-size: 1.2em;
  margin-bottom: 50px;
}

.cards-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
}

.card {
  width: 30%;
  border: 1px solid #eedad1;
  color: #fff;
  margin-bottom: 50px;
  transition: 0.3s;
}

.card-title {
  text-align: center;
  font-size: 0.8em;
  background: linear-gradient(to right, #fdd998, #f69e7b);
  color: #383e56;
  padding: 50px 10px;
}

.card-items {
  text-align: center;
  padding: 20px 10px;
  font-size: 0.9em;
  font-weight: bold;
  background-color: #eedad1;
  color: #d4b5b0;
}

.card-items .btn {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  border: 1px solid #eedad1;
  background: linear-gradient(to right, #fdd998, #f69e7b);
  padding: 10px 5px;
  margin-top: 30px;
}

.card:hover {
  transform: scale(1.05);
}

@media screen and (max-width: 1000px) {
  .card {
    width: 40%;
  }
}

@media screen and (max-width: 620px) {
  .container {
    width: 100%;
  }

  .title {
    font-size: 1em;
    padding: 20px;
  }

  .card {
    width: 60%;
  }
}
